[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
daphne = "*"
uvicorn = "*"
pytest-django = "*"
asgiref = "*"
pytest-asyncio = "*"
channels = "*"
channels-redis = "*"
celery = "*"
redis = "*"
psycopg2 = "*"
transformers = "*"
torch = "*"
xformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
